<div class="container-parent">
  <div class="container nav-container">
    <div class="nav-row justify-between w-full">
      <div class="nav-row">
        <div class="nav-button text-center">
          <img src="assets/logowhite.svg" class="w-40 my-[-2rem]"/>
        </div>
        <div class="nav-button">Features</div>
        <div class="nav-button">Project</div>
        <div class="nav-button">Contact</div>
      </div>
      <div class="nav-row">
        <div *ngIf="!isLoggedIn" class="nav-button" (click)="login()">Sign In</div>
        <div *ngIf="!isLoggedIn" class="nav-button" (click)="register()">Create Account</div>
        <div *ngIf="isLoggedIn" class="nav-button">Go to my budgets</div>
        <div *ngIf="isLoggedIn" class="nav-button" (click)="logout()">Sign out (signed in as {{userService.userProfile?.username}})</div>
      </div>
    </div>
  </div>
</div>
