

  <div class="flex flex-col px-10 py-5 gap-10 text-white mb-[-10rem]">
    <div class="text-6xl text-center ">BUDGET INSIGHTS </div>
    <div class="text-2xl text-center m-[-1rem]">Simple | Effective | Complete</div>
    <div class="text-xl text-center">A powerful budget software that's easy to use</div>  
  </div>
  <div class="bg-[var(--dark-color)] h-[20rem]" style="clip-path: polygon(100% 69%, 0 100%, 100% 100%);"></div>
  <div class="bg-[var(--dark-color)] h-[20rem] flex flex-col justify-center gap-10">
    <div class="text-xl text-center text-white">Sign in or create a free account to get started</div>
    <div class="flex flex-row justify-center gap-10">
      <div class="!px-24 button-primary">Sign In</div>
      <div class="!px-24 button-primary">Create Account</div>
    </div>
  </div>
  <div class="bg-[var(--dark-color)] h-[20rem]" style="clip-path: polygon(0 0, 0 31%, 100% 0);"></div>

