

  <div class="flex flex-row px-10 py-5 gap-10 text-white mb-[-10rem]">
    <div class="w-full flex flex-col justify-center items-center">
      <i class="fa-solid fa-panorama text-[20em]"></i>
    </div>
    <div class="w-full flex flex-col justify-center gap-5">
      <div class="text-2xl text-center">Organize your finances</div>
      <div class="text-2xl text-center">with an intuitive and effective budget software.</div>
    </div>
  </div>
  <div class="bg-[var(--dark-color)] h-[20rem]" style="clip-path: polygon(100% 69%, 0 100%, 100% 100%);"></div>
  <div class="bg-[var(--dark-color)] h-[20rem] flex flex-col justify-center gap-10">
    <div class="text-xl text-center text-white">Sign in or create a free account to get started</div>
    <div class="flex flex-row justify-center gap-10">
      <div class="!px-24 button-primary">Sign In</div>
      <div class="!px-24 button-primary">Create Account</div>
    </div>
  </div>
  <div class="bg-[var(--dark-color)] h-[20rem]" style="clip-path: polygon(0 0, 0 31%, 100% 0);"></div>

